<h2 mat-dialog-title>{{ data ? "Change the information" : "New Card" }}</h2>

<mat-dialog-content class="mat-typography">
  <div *ngIf="showSpinner">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <br />
  <form [formGroup]="checkoutForm">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      
    </mat-form-field>
    <div *ngIf="checkoutForm.get('name')?.errors 
      || checkoutForm.get('name')?.invalid && (checkoutForm.get('name')?.dirty || checkoutForm.get('name')?.touched)" class="alert alert-danger">
        <div *ngIf="checkoutForm.get('name')?.errors?.['required']">Name is required.</div>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <div *ngIf="checkoutForm.get('title')?.errors 
    || checkoutForm.get('title')?.invalid && (checkoutForm.get('title')?.dirty || checkoutForm.get('title')?.touched)" class="alert alert-danger">
      <div *ngIf="checkoutForm.get('title')?.errors?.['required']">Title is required.</div>
      <div *ngIf="checkoutForm.get('title')?.errors?.['maxlength']">Title should be maximum 20 characters.</div>
  </div>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="flex-grow-1 text-start" *ngIf="data">
    <button
      mat-stroked-button
      color="warn"
      (click)="deleteCard()"
      [disabled]="showSpinner"
    >
      Delete
    </button>
  </div>
  <div>
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="data ? updateCard() : addCard()"
      [disabled]="checkoutForm.invalid || showSpinner"
    >
      {{ data ? "Update" : "Add" }}
    </button>
  </div>
</mat-dialog-actions>
