<div class="header">
  <mat-toolbar color="primary">
    <span>KartvizitApp</span>
    <span class="example-spacer"></span>
    <ul type="none" class="navbar">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a routerLink="/cards" routerLinkActive="active">Cards</a>
      </li>
    </ul>
  </mat-toolbar>
</div>
