<mat-card class="card-bottom">
  <mat-card-header (click)="openUpdateCardButton(card)">
    <!-- <div *ngIf="cardList.invalid">SUCCESS</div> -->
    <mat-card-title>{{ card.name || "Private name" }}</mat-card-title>
    <mat-card-subtitle>{{ card.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ card.phone }}</li>
      <li class="list-group-item" *ngIf="card.email; else noEmail">
        {{ card.email }}
      </li>
      <ng-template #noEmail>
        <small class="text-warning no-content list-group-item"
          >No email adress</small
        >
      </ng-template>
      <li class="list-group-item" *ngIf="card.address; else noAddress">
        {{ card.address }}
      </li>
      <ng-template #noAddress>
        <small class="text-warning no-content list-group-item"
          >No address</small
        >
      </ng-template>
    </ul>
  </mat-card-content>
</mat-card>
